; Microsoft SQL Server Patch Configuration File
[OPTIONS]

; Action to perform
ACTION="Patch"

; Specify the instance to patch
INSTANCENAME="MSSQLSERVER"

; Accept license terms
IAcceptSQLServerLicenseTerms="True"

; Optional: Quiet installation (no GUI)
QUIET="True"

; Optional: Display progress but no interaction
QUIETSIMPLE="False"

FAILOVERCLUSTERNODE="Node1"