use master;

ALTER AVAILABILITY GROUP [{{ AGNAME }}] 
MODIFY REPLICA ON N'{{ SecNode }}' 
WITH (AVAILABILITY_MODE = SYNCHRONOUS_COMMIT);

ALTER AVAILABILITY GROUP [{{ AGNAME }}] 
SET (REQUIRED_SYNCHRONIZED_SECONDARIES_TO_COMMIT = 1);

ALTER AVAILABILITY GROUP [{{ AGNAME }}] OFFLINE;

ALTER AVAILABILITY GROUP [{{ AGNAME }}] FAILOVER;
ALTER AVAILABILITY GROUP {{ AGNAME }} FORCE_FAILOVER_ALLOW_DATA_LOSS; 

ALTER AVAILABILITY GROUP [{{ AGNAME }}] 
SET (ROLE = SECONDARY); 

DECLARE @sql NVARCHAR(MAX) = '';

SELECT @sql = @sql + 
    'ALTER DATABASE [' + name + '] SET HADR RESUME;' + CHAR(13) 
FROM sys.databases 
WHERE group_database_id IS NOT NULL; 
PRINT @sql;  
EXEC sp_executesql @sql;
